

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.writeSize{
  font-weight:900;
  font-size: 13px;
}
.paraTitle{
  margin-left: 39px;
}

.hebergementTitle{
  padding-left:17px;
  margin-top:20px;
  margin-bottom:0px;
  font-size:26px;
}
.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:10px;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aroundColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.betweenColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dNone {
  text-decoration: none;
}

.bNone {
  border: none;
}
.TitleMostPopulary{
  margin-right: 26px;
  font-size:26px;
  margin-bottom: 58px;
  margin-top:24px;
}

.boldText {
  font-weight: bold;
  
}

.cBlue {
  color: #0065fc;
}

.cGrey {
  color: #f2f2f2;
}

.backBlue {
  background-color: #0065fc;
}

.backGrey {
  background-color: #f2f2f2;
}

/* NAV */
.NavSize {
  height: auto;
}

.linkSize {
  width: 100%;
}

.linkSizeG {
  margin-left: 60%;
}

.linkSize2 {
  width: 140px;
  height: 99px;
}

.linkColor {
  color: black;
}

.navBorder {
  border-top: 1px solid transparent;
}

.navBorder:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.navBorder:hover>a {
  color: #0065fc;
}
nav{
  display: flex;
}

.logo {
  margin-bottom: 7px;
  margin-left: 35px;
  width: 61.09px;
  height:24px;
}

/*HEADER*/

.findHebergementTitle{
  font-size:24px;
  margin-left:35px;
}

.downTownNatureCenter{
  margin-top:13px;
  margin-bottom:23px;
  margin-left:35px;
  font-size:20px;
}
.deskNone {
  display: none;
}

.searchBorder {
  display:flex;
  justify-content:start;
  border: 0.4px solid #f2f2f2;
  width:540px;
  border-radius:35px;
  margin-left:35px;
}

.searchPadding {
  padding-left: 40px;
  width:320px;
  font-size:20px;
}

.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.icon {
  height: 50px;
  width: 100px;
  border-radius: 10px 0 0 10px;
}



.searchButton {
  height: 50px;
  width: 130px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.searchButton:hover {
  color: #0065fc;
  background-color: #e0b9b9;
}

/*Filter*/




.fa-info:before{
  padding-left:9px;
}

/* icon */
.information {
  display: flex;
  align-items: center;
  margin-left: 33px;
}

.iconAdults {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-bottom: 23px;;
}

.title500{
  margin-left:23px;
  margin-bottom:23px;
  font-size:26px;
}

.filter {
  display: flex;
  margin-left: 23px;
}

.filterWord{
  color:#000000;
  padding-left: 10px;
  font-weight: bold;
}

.filterMargTitle {
  margin-right: 20px;
  
}




/* 
.iconFilter {
  border: 2px solid 	#D3D3D3;
  margin: 7px;
  border-radius: 25px;
  width: 200px;
  height: 52px;
  color: #0065fc;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  
  align-items: center;
} */


.TitleText {
  color: #000000;
  margin-left: 4.5px;
  font-size: small;
  
}



.filterItem {
  display: flex;
border: 2px solid 	#D3D3D3;
margin-top: 35px;
margin-bottom: 35px;
border-radius: 25px;
width: auto;
height: 45px;
align-items: center;
color: #0065fc;
margin-left:125px;
padding-left:13px;
padding-right:13px;
}

.filtreMargTitle{
  margin-top: 50px;
  margin-left: 38px;
  font-weight:bold;
  font-size:26px;
}

.filterRegroup{
  display: flex;
  flex-direction: row;
}

.iconFilterText:hover>.filterItem {
  color: #0065fc;
  background-color: #deebff;
}




/* icon */
.information {
  display: flex;
  align-items: center;
  margin-left: 33px;
}


/* hebergement */
.marseilleHebergementsSize {
 
  flex: 2;
  height: 68em;
  margin-right: 20px;
  border-radius: 10px;

}

.titleCardHebergementAubergeDeLaCannebiere{
  font-size: 11px;
  font-weight:bold;
  padding-top:13px;
  font-size: 24px;
  
  }
  .subtitleCardHebergementAubergeDeLaCannebiere{
    font-size:22px;
    padding-top:5px;
  padding-bottom: 5px;
  }
  
.titleCardHebergementHotelDuPort{
    font-weight:bold;
    padding-top:13px;
    font-size: 24px;
    
  }

  .card1{
    padding-bottom:1px;
    justify-content: space-between;
    flex-wrap:nowrap;
    
  }

  .card2{
    padding-top:1px;
    justify-content: space-between;
    flex-wrap:nowrap;
  }

.subtitleCardHebergementHotelDuPort{
  padding-top:7px;
  padding-bottom: 7px;
      font-size:22px;
      margin-right:50px;
    }
.titleCardHebergement{
padding-top:13px;

font-weight:bold;
font-size:23px;

}
.subtitleCardHebergement{
  font-size:25px;
  padding-top:7px;
  padding-bottom: 7px;
}

.popularySize {

  flex: 1;
  height: 1040px;
  margin-left: 20px;
  border-radius: 10px;
}

.starsHebergement{
  display: flex;
  font-size: 22px;
}

.hebergementsBloc {
  padding-left:20px;
  padding-right:20px;
  margin-left:28px;
}


.hebergementsCube {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;;
  border-radius: 20px;
 
}

.hebergementsCubeAubergeDeLaCanebiereCube{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;;
  border-radius: 20px
 
}

.hebergementsCubeAubergeDeLaMer{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;;
  border-radius: 20px
}

.hebergementsCube:hover {
  cursor: pointer;
  transform: scale(1.1);
}



.hebergementsImage {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-radius: 15px 15px 0 0;
}
.moreDisplay{
  margin-left:10px;
  margin-bottom: 10px;
  font-size:26px;
}



/* populary */

.populairesBloc {
  padding-left: 20px;
  padding-right: 20px;
  margin-right:20px;
}

.popularySize{
  min-height: auto;
    padding: 20px;
}


.populairesBloc2 {
  margin-bottom: 22px;
}

.populairesChambresHotesAuCoeurDeLeau{
  background-color: white;
  height: auto;
  padding: 3% 0 3% 3%;
  border-radius: 20px;
}

.populairesCube {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.subtitleCardPopularize{
    margin-top: 7px;
    margin-bottom:64px;
}

.starsChambresHotesAuCoeurDeLeauPopulaire{
  display: flex;
  width:12px;
  height: 12px
}

.titleCardPopulaireChambresHotesAuCoeurDeLeauPopulaire{
  
  font-weight: bold;
  font-size: 32px;
}

.subtitleCardChambresHotesAuCoeurDeLeauPopularize{
  margin-top: 7px;
  margin-bottom:44px;
}


.titleCardPopulaire{
  font-weight: bold;
  font-size: 39px
}

.starsPopulaire{
  display: flex;
  width:12px;
  height: 12px;
}

.populairesCube:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.populairesDetailsCube {
  width: 60%;
  padding-left: 5%;
}

.populairesImage {
  object-fit: cover;
  width: 35%;
  height: 260px;
  border-radius: 15px 0 0 15px;
}

/* actiity */
#Activites {
  margin-top: 50px;
  margin-bottom: 50px;
}


.activitesBloc {
  margin-bottom: 10px;
  height: 600px;
  margin-left:23px;
  margin-right:10px;
}

.paraTitleDesktop{
  margin-left:33px;
}

.activitesCube {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}


.activitesCube:hover {
  cursor: pointer;
  transform: scale(1.03);
}


.titleHeight {
  height: 70px;
}

.activitesTitreFortDePomégues{
  font-weight: bold;
  font-size: 22px;
  padding-top: 23px;
  padding-left: 2px;
  padding-right: 160px;
  padding-bottom: 23px;
  
}

.activitesTitreParcNationalDesCalanques{
  font-weight: bold;
  font-size: 22px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 4px;
  padding-right: 63px;
}
.activitesTitreVieuxPort{
  font-weight: bold;
  font-size: 22px;
  padding-top: 23px;
  padding-left: 4px;
  padding-right: 203px;
  padding-bottom: 23px;
  
}

.activitesTitreNotreDameDeLaGarde{
  font-weight: bold;
  font-size: 22px;
  padding-top: 23px;
  padding-left: 4px;
  padding-right: 83px;
  padding-bottom: 23px;
}
.activitesImage {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.activitesParcNationalDesCalanquesImage {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.hebergementsDetailsCube{
  
  width: 90%;
}


/* footer */
.footer {
  display:flex;
  margin-left:24px;
  margin-right:24px;
}

.footBlocSize {
  height: 150px;
}

.ourHebergement{
  font-size: 23px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 340px;
}

.assistanceMarge {
  font-size: 22px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 353px;
}

.assistanceFootMarge {
  
}
.hebergementFootMarge {
  
}

.about{
  font-size: 23px;
  font-weight: bold;
  margin-top: 24px;
  margin-left:123px;
}
.aboutMarge {
  
  width:350px;
}

.footBlocMarge2 {
  margin-right: 15%;
}

.footLink {
  color: black;
}

.fonctionnementLinkD {
  height: 30px;
  margin-top:14px;
  margin-left:123px;
  font-size:18px;
}
.fooctionnementLinkD2{
  margin-left:123px;
  font-size:18px;
}

.fooctionnementLinkD3{
  margin-left:123px;
  margin-top:9px;
  font-size:18px;
}
.footLinkD {
  height: 30px;
}

.hebergementLinkD {
  height: 30px;
  margin-left:340px;
  margin-top:14px;
  font-size:20px;
}
.hebergementLinkD2 {
  height: 30px;
  margin-left:340px;
  font-size:18px;
}

.assistanceLinkD {
  height: 30px;
  margin-left:353px;
  margin-top: 14px;
  font-size:18px;
}

.assistanceLinkD2 {
  height: 30px;
  margin-left:353px;
  font-size:18px;
}