

@media screen and (max-width: 768px) {

  .writeSize{
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  .economicIconFilter {
    border: 2px solid 	#D3D3D3;
    margin: 7px;
    height: 52px;
    color: #0065fc;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px #D9D9D9;
    align-items: center;
    border-radius: 25px;
    width:300px;
  }
  .filterWrapMobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .hebergementsImage {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
  }

  .footBlocSize {
    height: 300px;
  }
  
  body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
     font-size: xx-large; 
  }
  .popularySize {
    height: auto;
  }
  .iconFilter {
    border-radius: 25px;
    width:300px;

  }

  .iconFamily {
    border: 2px solid #D3D3D3;
    border-radius: 25px;
    width: 300px;
    height: 52px;
    color: #0065fc;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5px
  } 
  .card1 {
    margin-bottom: 10px;
  }
  
  .card2 {
    margin-top: 10px;
  }

  .icon {
    height: 50px;
    width: 20%;
    border-radius: 10px 0 0 10px;
    margin-top: 34px;
  }
  .logo {
    margin-bottom: 7px;
    margin-left:290px;
  }
  .searchPadding {
    padding-left: 20px;
    margin-top: 34px;
    width:50%;
  }
  .linkSize2{
    flex-direction: row;
  }
  .linkSizeG {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .mobileLinkSize {
    width: 50%;
    border-top: 0;
    border-bottom: 5px solid #f2f2f2;
  }
  .linkSize{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobileLinkSize:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }
  
  .searchBorder {
    width: auto;
    border: none;
  }
  
  .search {
    width: 200px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
  .searchButton {
    width: 20%;
    border-radius: 15px;
    margin-top:34px;
  }
  .deskNone {
    display: block;
  }
  .mobilNone {
    display: none;
  }
  .filtreMargTitle{
    padding-left: 5%
  }
  .economicMobile {
    margin-right: 5px;
  }
  .familyMobile {
    margin-right: 0;
  }
  .textFilter {
    padding-left: 10px;
    padding-right: 10px;
  }
  .information {
    padding-left: 5%;
  }
  .populairesBloc {
    border-radius: 0;
  }
  .hebergementsBloc {
    background-color: white;
  }
  .paraTitleMobile {
    padding-left: 5%;
  }
  .activitesBloc {
    padding: 5%;
    width: 90%;
  }
 
  .iconPetFilter {
    border: 2px solid #D3D3D3;
    
    border-radius: 25px;
    width: 300px;
    height: 52px;
    color: #0065fc;
    background-color: #ffffff;
    display: flex;
    
    align-items: center;
    padding: 0.5px
  } 
  
  
  
  body {
    margin: 0;
    padding: 0;
  }
  
}