

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  max-width: 1340px;
  padding-right:50px;
  padding-left:50px;
  margin-left: auto;
  margin-right: auto;
}


.chartLogo{
  font-size:18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.writeSize{
  font-weight:900;
  font-size: 18px;
}
.paraTitle{
  margin-left: 39px;
}

.hebergementTitle{
  padding-left:17px;
  margin-top:20px;
  margin-bottom:0px;
  font-size:22px;
}
.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.betweenPopulary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:10px;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:10px;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aroundColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.betweenColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dNone {
  text-decoration: none;
}

.bNone {
  border: none;
}
.TitleMostPopulary{
  margin-right: 26px;
  font-size:22px;
  margin-bottom: 28px;
  margin-top:34px;
}

.filtreMargTitle{
  font-size:18px;
}




.boldText {
  font-weight: bold;
  
}

.cBlue {
  color: #0065fc;
}

.cGrey {
  color: #f2f2f2;
}

.backBlue {
  background-color: #0065fc;
}

.backGrey {
  background-color: #f2f2f2;
}

/* NAV */
.NavSize {
  height: auto;
}

.linkSize {
  width: 100%;
}

.linkSizeG {
  margin-left: 60%;
}

.linkSize2 {
  width: 140px;
  height: 99px;
}

.linkColor {
  color: black;
  font-size:16px;
}

.navBorder {
  border-top: 1px solid transparent;
}

.navBorder:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.navBorder:hover>a {
  color: #0065fc;
}
nav{
  display: flex;
}

.logo {
  margin-bottom: 7px;
  margin-left: 35px;
  width: 61.09px;
  height:24px;
}

/*HEADER*/

.findHebergementTitle{
  font-size:22px;
  margin-left:35px;
}

.downTownNatureCenter{
  margin-top:16px;
  margin-bottom:23px;
  margin-left:35px;
 
}
.deskNone {
  display: none;
}

.searchBorder {
  display:flex;
  justify-content:start;
  border: 0px solid #f2f2f2;
  border-radius:35px;
  margin-left:35px;
}

.searchPadding {
  padding-left:10px;
}

.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.icon {
  height: 50px;
  width:49px;
  border-radius: 10px 0 0 10px;
}



.searchButton {
  height: 49px;
  width:132px;
  font-size:18px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.searchButton:hover {
  color: #0065fc;
  background-color: #e0b9b9;
}

/*Filter*/




.fa-info:before{
  padding-left:9px;
}

/* icon */
.information {
  display: flex;
  align-items: center;
  margin-left: 33px;
}

.iconAdults {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-bottom: 23px;;
}

.title500{
  margin-left:13px;
  margin-bottom:23px;
  font-size:16px;
}

.filter {
  display: flex;
  justify-content:space-between;
}

.filterWord{
  color:#000000;
  padding-left: 10px;
  font-weight: bold;
}






/* 
.iconFilter {
  border: 2px solid 	#D3D3D3;
  margin: 7px;
  border-radius: 25px;
  width: 200px;
  height: 52px;
  color: #0065fc;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  
  align-items: center;
} */


.TitleText {
  color: #000000;
  margin-left: 4.5px;
  font-size: small;
  
}



.filterItem {
  display: flex;
border: 2px solid 	#D3D3D3;
margin-top: 35px;
margin-bottom: 35px;
border-radius: 25px;
width: auto;
height: 50px;
align-items: center;
color: #0065fc;
margin-left:20px;
padding-left:27px;
padding-right:27px;
}

.filtreMargTitle{
  margin-top: 50px;
  margin-left: 38px;
  font-weight:bold;
  font-size:18px;
}

.filterRegroup{
  display: flex;
  flex-direction: row;
}

.iconFilterText:hover>.filterItem {
  color: #0065fc;
  background-color: #deebff;
}




/* icon */
.information {
  display: flex;
  align-items: center;
  margin-left: 33px;
}


/* hebergement */
.marseilleHebergementsSize {
 
  flex: 2;
  height: 626px;
  margin-right: 20px;
  border-radius: 10px;

}

.titleCardHebergementAubergeDeLaCannebiere{
  font-weight:bold;
  padding-top:13px;
  font-size: 16px;
  
  }
  .subtitleCardHebergementAubergeDeLaCannebiere{
    font-size:14px;
    padding-top:5px;
  padding-bottom: 5px;
  }
  
.titleCardHebergementHotelDuPort{
    font-weight:bold;
    padding-top:13px;
    font-size: 16px;
    
  }

  .titleCardHebergementHotelDeLaMer{
    font-weight:bold;
    padding-top:13px;
    font-size: 16px;
    
  }
  .subtitleCardHebergementHotelDeLaMer {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.titleCardHebergementAubergeLePanier{
  font-weight: bold;
  padding-top: 13px;
  font-size: 16px;
}
.subtitleCardHebergementAubergeLePanier{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.titleCardHebergementHotelChezAmina{
  font-weight: bold;
  padding-top: 13px;
  font-size: 16px;
}
.subtitleCardHebergementHotelChezAmina{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

  .card1{
    padding-bottom:1px;
    justify-content: space-between;
    flex-wrap:nowrap;
    
  }

  .card2{
    padding-top:1px;
    justify-content: space-between;
    flex-wrap:nowrap;
  }

.subtitleCardHebergementHotelDuPort{
  padding-top:7px;
  padding-bottom: 7px;
      font-size:14px;
      margin-right:50px;
    }
.titleCardHebergement{
padding-top:20px;

font-weight:bold;
font-size:16px;

}
.subtitleCardHebergement{
  font-size:14px;
  padding-top:7px;
  padding-bottom: 7px;
}

.popularySize {

  flex: 1;
  height: 626px;
  width:40%;
  margin-left: 20px;
  border-radius: 10px;
  min-height: auto;
}

.starsHebergement{
  display: flex;
  font-size: 15px;
  margin-bottom:1%;
}

.hebergementsBloc {
  padding:20px;
  margin-left:28px;
}


.hebergementsCube {
  width: 29%;
  height: 199px;
  background-color: white;
  padding:1%;
  border-radius: 20px;
  font-size:16px;
 
}

.hebergementsCubeAubergeDeLaCanebiereCube{
  width: 29%;
  height: 199px;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  font-size:16px;
 
}

.hebergementsCubeAubergeDeLaMer{
  width: 29%;;
  height: 199px;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  font-size:16px;
}

.hebergementsCube:hover {
  cursor: pointer;
  transform: scale(1.1);
}



.hebergementsImage {
  object-fit: cover;
  width: 100%;
  height: 124px;
  border-radius: 15px 15px 0 0;
}
.moreDisplay{
  margin-left:15px;
  margin-bottom: 10px;
  font-size:18px;
}



/* populary */

.populairesBloc {
  padding:20px;
}



.populairesBloc2 {
  margin-bottom: 22px;
}



.populairesCubeHotelBleuEtBlanc{
  background-color: white;
  height: 144px;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}


.populairesCubeHotelLeSoleilDuMatin{
  background-color: white;
  height: 144px;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}

.populairesCubeChambresHotesAuCoeurDeLeau{
  background-color: white;
  height: 144px;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}
.subtitleCardPopularize{
    font-size:88%;
    margin-top: 7px;
    margin-bottom:44px;
}

.starsChambresHotesAuCoeurDeLeauPopulaire{
  display: flex;
  width:12px;
  height: 12px
}

.titleCardPopulaireChambresHotesAuCoeurDeLeauPopulaire{
  padding-right:35px;
  font-size:16px;
  font-weight: bold;
  
}

.subtitleCardChambresHotesAuCoeurDeLeauPopularize{
  margin-top: 7px;
  margin-bottom:44px;
  font-size:88%;
}


.titleCardPopulaire{
  font-weight: bold;
  font-size:16px;
  padding-right:35px;
}
.titleCardPopulaireHotelBleuEtBlanc{
  font-weight: bold;
  padding-right:5px;
  font-size:16px;
  margin-top:3px;
}

.starsPopulaire{
  display: flex;
  width:12px;
  height: 12px;
}

.populairesCube:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.populairesDetailsCube {
  width: 60%;
  padding-left: 5%;
}

.populairesImage {
  object-fit: cover;
  width: 40%;
  height: 144px;
  border-radius: 15px 0 0 15px;
}

.populairesHotelBleuEtBlancImage {
  object-fit: cover;
  width: 44%;
  height: 144px;
  border-radius: 15px 0 0 15px;
}


/* actiity */
#Activites {
  margin-top: 50px;
  margin-bottom: 50px;
}


.activitesBloc {
  margin-bottom: 10px;
  margin-left:23px;
  margin-right:10px;
}

.paraTitleDesktop{
  margin-left:30px;
}

.activitesCube {
  width: 23%;
  height:444.51px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}


.activitesCube:hover {
  cursor: pointer;
  transform: scale(1.03);
}


.titleHeight {
  height: 70px;
}

.activitesTitreFortDePomegues{
  font-weight: bold;
  font-size: 16px;
  padding-top: 23px;
  padding-right:105px;
}

.activitesTitreParcNationalDesCalanques{
  font-weight: bold;
  font-size: 16px;
  padding-top: 23px;
  padding-right: 30px;
}
.activitesTitreVieuxPort{
  font-weight: bold;
  font-size: 16px;
  padding-top: 23px;
  padding-right:170px;
}

.activitesTitreNotreDameDeLaGarde{
  font-weight: bold;
  font-size: 16px;
  padding-top: 23px;
  padding-right: 60px;
}
.activitesImage {
  object-fit: cover;
  width: 100%;
  height:385px;
  border-radius: 15px 15px 0 0;
}

.activitesParcNationalDesCalanquesImage {
  object-fit: cover;
  width: 100%;
  height: 389px;
  border-radius: 15px 15px 0 0;
  
}

.hebergementsDetailsCube{
  
  width: 90%;
}


/* footer */
footer {
  display:flex;
  margin-left:24px;
  margin-right:24px;
  background-color: #f2f2f2;
}

.footBlocSize {
  height: 150px;
}

.ourHebergement{
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 140px;
}

.assistanceMarge {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 233px;
}



.about{
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-left:80px;
}
.aboutMarge {
  
  width:350px;
}

.footBlocMarge2 {
  margin-right: 15%;
}

.footLink {
  color: black;
}

.fonctionnementLinkD {
  height: 30px;
  margin-top:14px;
  margin-left:80px;
  font-size:16px;
}
.fooctionnementLinkD2{
  margin-left:80px;
  font-size:16px;
}

.fooctionnementLinkD3{
  margin-left:80px;
  margin-top:9px;
  font-size:16px;
}
.footLinkD {
  height: 30px;
}

.hebergementLinkD {
  height: 30px;
  margin-left:140px;
  margin-top:14px;
  font-size:16px;
}
.hebergementLinkD2 {
  height: 30px;
  margin-left:140px;
  font-size:16px;
}

.assistanceLinkD {
  height: 30px;
  margin-left:233px;
  margin-top: 14px;
  font-size:16px;
}

.assistanceLinkD2 {
  height: 30px;
  margin-left:233px;
  font-size:16px;
}

em{
  font-weight: bold;
}