

@media screen and (max-width: 768px) {


  /* Header*/
  .logo {
    margin-bottom: 7px;
    margin-left:110px;
    width:110px;
  }

  .linkColor{
     margin-left:0px;
  }
  .linkSizeG {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .linkSize{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .linkSize2{
    flex-direction: row;
  }
  .mobileLinkSize {
    width: 50%;
    border-top: 0;
    border-bottom: 1rem solid #f2f2f2;
  }

  .moreDisplay{
    display:none;
  }
  .mobileLinkSize:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }


.iconAdults{
  margin-bottom:53px;
}
  .fas, .fa-map-marker-alt{
    font-size: 12px;
  }

.deskNone {
  display: block;
}
.mobilNone {
  display: none;
}
  .paraTitleMobile {
    padding-left: 5%;
}
.paraTitleDesktop{
  padding-right:207px; 
  margin-left:20px;
  font-size:22px;
}
  .linkSize2{
    font-size: 35px;
  }

  .TitleMostPopulary{
    font-size:22px;
    margin-left:20px;
  }
  
.findHebergementTitle{
  font-size:22px;
  padding-left: 3%;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left:20px;
  margin-right:57px;
}

.downTownNatureCenter{
  padding-left: 3%;
  font-size:16px;
  margin-left:20px;
}

  .writeSize{
    font-size: 18px;
    font-weight:bold;
  }

  .searchBorder {
    width: 90%;
    border: 0.2px solid #f2f2f2;
    height:49px;
    border-radius:35px;
    margin-left:20px;
    margin-top:60px;
  }
  .popularySize{
    height: auto;
    padding: 0;
  }

  .searchButton{
    height: 49px;
    width: 35%;
    border-radius: 0 10px 10px 0;
  }

  .searchPadding{
    padding-left:16px;
  }

  .filterRegroup{
    display: flex;
    flex-direction:column;
  }
  .information {
    padding-left: 1%;
  }

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }

.filtreMargTitle{
  font-weight: bold;
  margin-left: 20px;
  font-size: 18px;
}



.icon{
  width:35%;
  height:49px;
  border-radius: 10 0px 0px 10;
}

  .iconEconomic{
    border: 2px solid #D3D3D3;
    border-radius: 55px;
    width: 250px;
    height: 75px;
    background-color: #ffffff;
    padding-left:13px;
    
    
  }
  .between{
    padding-left:0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

 

  .filtermobilFamilial{
    border: 2px solid #D3D3D3;
    border-radius: 55px;
    width: auto;
    height: 50px;
    background-color: #ffffff;
    font-size:23px;
    padding-left:10px;
    padding-right:75px;
  }

  .filtermobilEconomiques {
    border: 2px solid #D3D3D3;
    border-radius: 55px;
    width: auto;
    height: 50px;
    background-color: #ffffff;
    font-size:23px;
    padding-right:42px;
  }
  .filtermobilRomantiques {
    border: 2px solid #D3D3D3;
    border-radius: 55px;
    width: auto;
    height: 50px;
    background-color: #ffffff;
    font-size:23px;
    padding-right:50px;
    padding-left:10px;
  }
  .filtermobilAnimauxAutorises {
    border: 2px solid #D3D3D3;
    border-radius: 55px;
    width: auto;
    height: 50px;
    background-color: #ffffff;
    font-size:23px;
    margin-left:43px;
    padding-left:10px;
    padding-right:10px;
  }

  .filterWord{
    font-size:11px;
    padding-left:10px;
  }
  .filterItem{
    margin-left: 15px;
    margin-top:15px;
    margin-bottom:15px;
  }


  /* Hebergement */

  .around{
    flex-direction: column-reverse;
  }
  
  .hebergementsBloc:nth-child(1){
    order:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: white;
    flex: none;
    width: 100%;
    margin-right: 0;
    margin-left:0px;
    margin-top: 50px;
    padding: 5%;
    padding-left:0%;
    min-height: auto;
    border-radius: 10px;
    
  }

  .hebergementTitle{
    padding-left:0px;
    margin-bottom:20px;
    margin-left:35px;
  }

  .hebergementsCubeAubergeDeLaCanebiereCube{
    width: 85%;
    margin-bottom: 50px;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0px;
  }

  .hebergementsCube{
    width: 85%;
    margin-bottom: 50px;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
  }

  .hebergementsCubeAubergeDeLaMer{
    width: 85%;
    margin-bottom: 50px;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0px;
  }
   
  .starsHebergement{
    display:flex;
    height:12px;
    margin-bottom:5%;
    font-size:0px;
  }
  .hebergementsImage{
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
  }

  .titleCardHebergementAubergeDeLaCannebiere{
    min-height: auto;
    width: 90%;
    font-size:16px;
  }

  .titleCardHebergementHotelDuPort{
    min-height: auto;
    width: 90%;
    font-size:16px;
  }

  .titleCardHebergementHotelDeLaMer{
    min-height: auto;
    width: 90%;
    font-size:16px;
    margin:2px;
    font-weight: bold;
  }

  .titleCardHebergementAubergeLePanier{
    min-height: auto;
    width: 90%;
    font-size:16px;
    margin:2px;
    font-weight: bold;
  }

  .titleCardHebergementHotelChezAmina{
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
  }

  .subtitleCardHebergementAubergeDeLaCannebiere{
    min-height: auto;
    width: 90%;
    margin-bottom:5px;
    font-size:14px;
  }

  .subtitleCardHebergementHotelDeLaMer{
    min-height: auto;
    width: 90%;
    margin-bottom:5px;
    font-size:26px;
  }

  .subtitleCardHebergementHotelDuPort{
    min-height: auto;
    width: 90%;
    font-size:14px;
  }

  .subtitleCardHebergementHotelDeLaMer{
    min-height: auto;
    width: 90%;
    margin-bottom:5px;
    font-size:14px;
  }

  .subtitleCardHebergementAubergeLePanier{
    min-height: auto;
    width: 90%;
    margin-bottom:5px;
    font-size:14px;
  }
  
  .subtitleCardHebergementHotelChezAmina{
    min-height: auto;
    width: 90%;
    margin-bottom:5px;
    font-size:14px;
  }
 

  .card1{
    flex-direction: column;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:initial;
  }

  .around { 
    align-items:inherit;
  }

  .card2{
    flex-direction: column;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:initial;
  }

  /* Populaire*/
  .populairesBloc:nth-child(2){
    order:2;
    flex: none;
    width: 100%;
    margin-left: 0;
    min-height: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-top:0px;
    height:26Opx;
  }

.betweenPopulary{
  padding-right:25px;
}


  .aroundColumnPopularize{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: #f2f2f2;
    flex: none;
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    min-height: auto;
    border-radius: 10px;
   
  }

  .populairesBloc2  {
    margin-bottom: 22px;
  }
  .populairesBloc{
    margin-right: 0;
  }
  .populairesCubeHotelLeSoleilDuMatin{
    background-color: white;
    height: 144px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    width:85%;
    display: flex;
    justify-content:inherit;
    align-items: center;
    margin-bottom:3%;
    margin-left:20px;
  }

  .populairesCubeHotelBleuEtBlanc{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    width:85%;
    display: flex;
    justify-content:inherit;
    align-items: center;
    margin-bottom:78px;
    margin-left:20px;
  }
  .populairesCubeChambresHotesAuCoeurDeLeau{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-bottom: 22px;
    display: flex;
    justify-content:inherit;
    align-items: center;
    margin-bottom: 22px;
    width:85%;
    margin-left: 20px;
  }

  .populairesImage{
  object-fit: cover;
  width: 35%;
  height: 144px;
  border-radius: 15px 0 0 15px;
}

.populairesHotelBleuEtBlancImage {
  object-fit: cover;
  width: 35%;
  height: 144px;
  border-radius: 15px 0 0 15px;
}
.populairesDetailsCube{
width: 60%;
    padding-left: 2%;}


  .starsPopulaire{
    height:12px;
    margin-left:15px;
  }

  .starsChambresHotesAuCoeurDeLeauPopulaire{
    margin-left:15px;
    height:12px;
  }
    .titleCardPopulaire{
    font-weight: bold;
    font-size: 16px;
    margin-left:15px;
}

.titleCardPopulaireChambresHotesAuCoeurDeLeauPopulaire{
    font-weight: bold;
    font-size:16px;
    margin-bottom:4px;
    padding-right:1px;
    margin-left:15px;
}

.titleCardPopulaireHotelBleuEtBlanc {
  font-size:16px;
  margin-top:10px;
}

.subtitleCardChambresHotesAuCoeurDeLeauPopularize{
  font-size:14px;
  margin-left:15px;
  margin-bottom:44px;
}

.subtitleCardPopularize{
    margin-left:15px;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom:34px;
}

/* Activite */

 #Activites{
margin-top: 50px;
    margin-bottom: 50px;

}
  .activitesBloc{
    flex-direction: column;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    padding-top:0%;
    margin-left:0px;
    width:100%;
    padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
  }
  
  .activitesParcNationalDesCalanquesImage{
    height:134px;
  }
  .activitesImage{
    object-fit: cover;
    width: 100%;
    height: 134px;
    border-radius: 15px 15px 0 0;
  }

  .activitesCube{
    background-color: white;
    height: 190px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:85%;
  }

  .activitesTitreFortDePomegues{
    padding-top: 30px;
    padding-right: 140px;
    padding-bottom: 20px;
  }
 
  .activitesTitreVieuxPort{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    font-size:16px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right:0px;
  }

.activitesTitreFortDePomégues{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* //padding-left: 5%; */
  width: 95%;
  font-size:24px;
  margin-left:29px; 
  padding-top: 30px;
  padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
}



.activitesTitreParcNationalDesCalanques{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:60px;
}

  .activitesTitreNotreDameDeLaGarde{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:100px;
  }

  /*footer*/

  

  .aboutMarge{
    width:360px;
  }

  .footBlocSize{
      height:auto;
    }

  .about{
    margin-left:20px;
    margin-top:44px;
    margin-bottom:20px;
    font-size:18px;
  }

  .fonctionnementLinkD{
    margin-left: 20px;
    font-size: 16px;
    width:auto;
    height:0px;
    margin-bottom: 12px;
  }

  .fooctionnementLinkD2{
    margin-left: 20px;
    font-size: 16px;
    margin-top:35px;
  }

  .fooctionnementLinkD3{
    margin-left: 20px;
    font-size: 16px;
    margin-top:16px;
    width:auto;
    
  }

  .ourHebergement{
    margin-left: 20px;
    margin-top: 44px;
    font-size: 18px;
  }

  .hebergementLinkD{
    margin-left: 20px;
    font-size: 16px;
    margin-top:23px;
  }
  .hebergementLinkD2{
    margin-left: 20px;
    font-size: 16px;
    margin-top: 10px;
  }

  .assistanceMarge{
    margin-left: 20px;
    margin-top: 34px;
    margin-bottom:30px;
    font-size: 18px;
  }
  .assistanceLinkD{
    margin-left: 20px;
    font-size: 16px;
    margin-top:23px;
  }

  .assistanceLinkD2{
    margin-left: 20px;
    font-size:16px;
    margin-top:13px;
    margin-bottom:54px;
  }

  body{
     margin:0px;
     max-width: auto;
     padding-right:0px;
     padding-left:0px;
     margin-left:0px;
     margin-right:0px;
  }

  em{
    font-weight: bold;
  }


  footer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin-left:0px;
    margin-right:0px;
    background-color: #f2f2f2;
    width: 100%;
  }
}